/*Importar fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

/* Paleta de colores */
:root {
  --colorClaro: #f2f2f0;
  --colorRojo: #8c3b42;
  --colorRosado: #bf636b;
  --colorCafe: #593239;
  --colorCafeClaro: #a6727c;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

/* HEADER*/
.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8379726890756303) 51%,
    rgba(0, 0, 0, 0.8435749299719888) 51%
  );
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.header .contenido-header {
  max-width: 1100px;
  margin: auto;
  align-items: center;
  padding: 10px 20px;
}

.header .contenido-header .nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header .contenido-header .nav ul li a {
  text-decoration: none;
  color: var(--colorClaro);
  margin: 0 12px;
  font-weight: 400;
  transition: 0.6s;
}

.nav ul li a .img-icon {
  width: 30px;
}

.header .contenido-header nav ul li a:hover {
  color: var(--colorCafeClaro);
}

/* SECCION INICIO */

.inicio {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: var(--colorClaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.inicio .contenido .presentacion h2 span {
  font-size: 28px;
  color: var(--colorCafeClaro);
}

.inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

.inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--colorClaro);
  color: var(--colorClaro);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

.inicio .contenido .presentacion a:hover {
  background-color: var(--colorRojo);
}

/* SECCION SOBRE MI */

#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: var(--colorRojo);
  display: flex;
}

#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 100px;
  margin-left: 10px;
}

#sobremi .contenedor-foto img {
  padding: 20px;
  width: 70vh;
  border-radius: 20px;
  background: rgb(140, 59, 66);
  background: radial-gradient(
    circle,
    rgba(140, 59, 66, 0.9528186274509804) 51%,
    rgba(191, 99, 107, 0.8939950980392157) 51%
  );
}

#sobremi .sobremi {
  margin: 0 50px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--colorCafe);
  text-decoration: underline;
  text-decoration-color: var(--colorRojo);
  text-decoration-thickness: 6px;
}

#sobremi .sobremi .subtitulo-seccion {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi .subtitulo-seccion span {
  color: var(--colorRosado);
}

#sobremi .sobremi .subtitulo {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  color: var(--colorCafe);
  margin-bottom: 12px;
}
/*SECCION HABILIADES*/

.contenedor-skills {
  background: url(../img/fondo2gif.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colorClaro);
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: rgb(77, 2, 30);
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: var(--colorClaro);
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: var(--colorClaro);
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: var(--colorClaro);
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: var(--colorClaro);
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
  background-color: var(--colorClaro);
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 1%;
  }
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 15rem;
}

.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
  border-radius: 5px;
}

.icons-container .icons h3 {
  color: var(--colorCafe);
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

/* SECCION PORTAFOLIO */

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--colorCafe);
  text-decoration: underline;
  text-decoration-color: var(--colorRosado);
  text-decoration-thickness: 6px;
}

.info .subtitulo-info {
  font-size: 10px;
  margin-top: 5px;
}

.info .parrafo1 {
  color: var(--colorClaro);
  font-size: 15px;
  margin: 4px;
  text-transform: unset;
}

.info .link {
  color: var(--colorRojo);
  text-decoration: none;
  display: inline;
  margin: 20px;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .fila .proyecto {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--colorClaro);
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/* FOOTER*/
footer {
  background: #000c00;
  color: var(--colorClaro);
  text-align: center;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
  color: var(--colorClaro);
  margin: 5px;
  font-size: 26px;
}

/* SECCION RESPONSIVE*/

@media (max-width: 500px) {
  .inicio {
    width: 100vh;
  }
  .contenedor-skills {
    width: 100vh;
  }
}
@media screen and (max-width: 800px) {
  #sobremi {
    padding: 30px 0;
    display: block;
  }

  #sobremi .contenedor-foto {
    max-width: 400px;
    margin: 60px 60px;
  }

  #sobremi .contenedor-foto img {
    padding: 0px;
  }

  #sobremi .sobremi {
    margin-top: 10px;
  }

  .contenedor-skills {
    padding: 50px 20px;
  }
  .icons-container {
    margin: 60px 60px;
  }

  #portfolio {
    padding: 50px 0;
  }
  #portfolio .fila {
    display: block;
    margin-left: 10px;
  }
  #portfolio .fila .proyecto {
    margin: 10px auto;
  }

  footer {
    width: 100vh;
  }
}
@media screen and (max-width: 500px) {
  .sobremi {
    position: relative;
    left: 20%;
  }
}
